*.apk
*.ap_
bin/
gen/
*.class
*.dex
*.iml
.gradle/
./gradlew.bat
./gradlew
local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/tasks.xml
.idea
*.iws
.DS_Store
/build
/captures
.externalNativeBuild
proguard/
mirror/
